.spacer {
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    padding-top: 10px;
  }
  body {
    font-family: "Arial";
  }
  footer {
    background-color: grey;
    margin-top:20px;
    color: rgb(221, 221, 221);
  }
  .col-centered {
    float: none;
    margin: 0 auto;
  }
  .spaceTopCard {
    margin-top: 10px;
  }
  .code-block {
    font-family: Monaco, monospace;
    line-height: 100%;
    background-color: #eee;
    padding: 0.2em;
    letter-spacing: -0.05em;
    word-break: normal;
    border-radius: 5px;
  }
  .table-border {
    border: 1px solid black;
  }
  .attribut{
    color:blue;
  }
  .table{
    font-size:65%;
  }